# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Audio files
*.wav
*.mp3
*.m4a
*.flac

# ML models / checkpoints
*.pth
piano_transcription_inference_data/

# Generated outputs
*.mid
*.txt
*.json

# macOS
.DS_Store
